### Hi there 👋

##### My name is Wilson Staley and I am a Software Developer in Colorado Springs, CO ⛰.  It is currently {{date}} ⌚. In {{year}} I have made {{commits}} commits, {{prs}} PRs, and contributed to {{repos}} projects 👨‍💻. I am currently working at Compassion International 🏢 to help release children from poverty in Jesus' name!